openssl_conf = openssl_init

[openssl_init]
providers = provider_section

[provider_section]
default = default_section
pkcs11 = pkcs11_section

[default_section]
activate = 1

[pkcs11_section]
pkcs11-module-path = /usr/lib/softhsm/libsofthsm2.so
pkcs11-module-load-behavior = early
pkcs11-module-quirks = no-deinit
activate = 1
